@import "hint.css";
.show {
  display: block;
  opacity: 1;
}
li.customdatademo {
  position: relative ;
}
li.customdatademo:hover::after {
  /* content: attr(data-tooltip) ; */
  content:url(https://private-user-images.githubusercontent.com/30196290/330075318-aa44993e-a7e8-4285-bba6-a690b0ac29a2.gif?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MTk0MTY1ODksIm5iZiI6MTcxOTQxNjI4OSwicGF0aCI6Ii8zMDE5NjI5MC8zMzAwNzUzMTgtYWE0NDk5M2UtYTdlOC00Mjg1LWJiYTYtYTY5MGIwYWMyOWEyLmdpZj9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNDA2MjYlMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjQwNjI2VDE1MzgwOVomWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPTUxYmNiMzJkZDkwMzE2Zjc5NzdmZmRkNzIwYzRkNmI0ODVkOWNjOTgxYTNlYzVmZTgwMDU5OTZhZmY2YzcwMmMmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0JmFjdG9yX2lkPTAma2V5X2lkPTAmcmVwb19pZD0wIn0.KuUiq6oIK1iQ9gzaNkQJUx1QDEGgirkKycTBnfVyUYU);
  position: absolute ;
  top: 1.1em ;
  left: 1em ;
  min-width: 200px ;
  border: 1px #ffffff solid ;
  border-radius: 0.7em;
  padding: 8px ;
  color: black ;
  background-color: rgba(204, 255, 204, 0) ;
  z-index: 1 ;
}



[data-tooltip] {
  /* display: inline-block; */
  position: relative;
  cursor: help;
  padding: 4px;
}
/* Tooltip styling */



[data-tooltip]:before {
  
  content: attr(data-tooltip);
  display: block;
  position: absolute;
  background: #000;
  color: #fff;
  padding: 4px 8px;
  font-size: 16px;
  line-height: 1.8;
  min-width: 15em;
  max-width: 100%;
  text-align: center;
  border-radius: 0.7em;
  transform-origin: top left;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) all  0.3s 0.1s;
  border-color: var(--accent-col);
  border-style: solid;
  border-width: 0.1em;
  scale: 0.1;
  opacity: 0;
  z-index: 50;
}

[data-tooltip].img:after {
  content:var(--uurl);
  align-content: center;
  align-items: center;
  position: absolute;
  transform: translate(50vh, 50vw);

}

/* Dynamic horizontal centering */
[data-tooltip-position="top"]:before,
[data-tooltip-position="bottom"]:before {
  
  left: 50%;
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  
}
/* Dynamic vertical centering */
[data-tooltip-position="right"]:before,
[data-tooltip-position="left"]:before {
  top: 50%;
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
[data-tooltip-position="top"]:before {
  bottom: 100%;
  margin-bottom: 6px;
}
[data-tooltip-position="right"]:before {
  left: 100%;
  margin-left: 6px;
}
[data-tooltip-position="bottom"]:before {
  
  top: 100%;
  margin-top: 6px;
}
[data-tooltip-position="left"]:before {
  right: 100%;
  margin-right: 6px;
}

/* Tooltip arrow styling/placement */
[data-tooltip]:after {
  content: '';
  display: block;
  position: absolute;
  transform-origin: top left;
  opacity:0;
  transform: translateY(500%);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) transform 0.2s;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  z-index: 50;
  
}
/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="top"]:after,
[data-tooltip-position="bottom"]:after {
  left: 50%;
  margin-left: -6px;
}
/* Dynamic vertical centering for the tooltip */
[data-tooltip-position="right"]:after,
[data-tooltip-position="left"]:after {
  top: 50%;
  margin-top: -6px;
}
[data-tooltip-position="top"]:after {
  bottom: 100%;
  border-width: 6px 6px 0;
  border-top-color: #000;
}
[data-tooltip-position="right"]:after {
  left: 100%;
  border-width: 6px 6px 6px 0;
  border-right-color: #000;
}
[data-tooltip-position="bottom"]:after {
  top: 100%;
  border-width: 0 2mm 2mm;
  border-bottom-color: var(--accent-col);
}
[data-tooltip-position="left"]:after {
  right: 100%;
  border-width: 6px 0 6px 6px;
  border-left-color: #000;
}
/* Show the tooltip when hovering */
[data-tooltip]:hover:before, [data-tooltip]:hover:after{
    display: block;
    
    scale: 1;
    opacity: 100;
}
[data-tooltip]:hover:after{
  transform: translateY(0%);

}